<p id="notice"><%= notice %></p>

<h1>Application: <%= @application.number %> </h1>

<p>
  <b>Complete:</b>
  <%= @application.complete ? "Yes" : "No"  %>
</p>

<h2>Status:</h2>


<table class="table table-striped">
  <tr>
    <th style="width: 170px;">Status</th>
    <th>Description</th>
  </tr>
<% @steps.each do |step| %>
  <tr>
    <td><%= step.status.name %></td>
    <td><%= step.description %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back', applications_path %>
