<p id="notice"><%= notice %></p>

<h1>Application #: <%= @application.number %> </h1>

<% if @application.complete? %>
  <span class="label label-success">Completed</span>
<% else %>
  <span class="label label-info">In progress</span>
<% end %>
<p>Last status update: <%= @application.status_update_date %></p>
<hr>
<table class="table table-striped">
  <tr>
    <th style="width: 170px;">Status</th>
    <th>Description</th>
  </tr>
<% @steps.each do |step| %>
  <tr>
    <td><%= step.status.name %></td>
    <td><%= step.description %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', applications_path, class: 'btn' %>
