<script id="item-template" type="text/template">
{{#results}}
<li><strong>{{number}}</strong> - {{ number }} - {{ status }}</li>
{{/results}}
</script>

<div class="row">
  <div class="span12">
    <h1>Multiple USCIS Status Checker</h1>
    <span>Check the status of all your applications at once.</span>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Enter all your application numbers, one per line:</h4>
    <%= form_tag(root_path, :remote => true, :"data-type" => :json, :id => "check_form") do |f| %>
      <%= text_area_tag 'application_numbers', nil, :placeholder => "i.e. MSC0123456789", :rows => "5"  %>
      <div><%= submit_tag 'Check Status', :class => "btn btn-primary", :disable_with => "Checking..." %></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul id="results">
      <% @results.each do |status| %>
      <li><strong><%= status[:type] %></strong> - <%= status[:number] %> - <%= status[:status] %></li>
      <% end %>
    </ul>
  </div>
</div>
